@model AvaliacaoViewModel

@{
    ViewData["Title"] = "Avaliação";
    ViewData["Subtitle"] = Model.Disciplina + " / " + Model.Materia + " / " + Model.Descricao;
}

<h2>@ViewData["Title"]</h2>

<h4>@ViewData["Subtitle"]</h4>

<p>
    <a asp-action="Create" asp-route-avaliacaoId="@Model.Id" class="btn btn-default">Nova Questão</a>
    <a asp-action="Index" asp-controller="Avaliacao" class="btn btn-default">Voltar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tipo
            </th>
            <th>
                Enunciado
            </th>
            <th>
                Nº Opções
            </th>
            <th>
                Ações
            </th>
            <th>
                Válida
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Questoes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.Id)
                </td>
                @if (i.Tipo == 1)
                {
                    <td>Múltipla Escolha</td>
                }
                else if (i.Tipo == 2)
                {
                    <td>Verdadeiro ou Falso</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => i.Enunciado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Opcoes.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@i.Id"><i class="fas fa-edit" title="Editar"></i></a>
                    <a asp-action="Index" asp-controller="OpcaoAvaliacao" asp-route-questaoId="@i.Id">
                        <i class="fas fa-tools" title="Construir Questão"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@i.Id"><i class="fas fa-trash" title="Excluir"></i></a>
                </td>
                <td>
                    @if (i.Erro.Equals(""))
                    {
                        <i style="color: #00ff00" class="fas fa-check" title="@i.Erro"></i>;
                    }
                    else
                    {
                        <i style="color: #ff0000" class="fas fa-times" title="@i.Erro"></i>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
